@model IEnumerable<NetFranco.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<button id="customer-new-button" class="btn btn-success text-white">@Html.ActionLink("New", "New", "Customers")</button>
<br />
@if (! Model.Any())
{
    <p>No one has rented this movie before.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
        <th>Name</th>
        <th>Membership Type</th>

        </thead>
        <tbody>
            @foreach (var customer in Model)
            {


                <tr>
                    
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>

            }
        </tbody>
    </table>
}

